/*--
Author: raolayouts
Author URL: http://raolayouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* Reset Code */
body {
  padding: 0;
  margin: 0;
  background: #fff;
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

body a:focus,
a:hover {
  text-decoration: none;
}

input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
  font-family: "Source Sans Pro", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

/* //Reset Code */

/* header */
.mian-content {
  position: relative;
}

header {
  position: absolute;
  z-index: 999;
  width: 100%;
}

/* logo */
a.navbar-brand {
  font-size: 32px;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Merienda", cursive;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #ffd800;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

a.navbar-brand img {
  vertical-align: bottom;
}

/* //logo */
/* navigation */
nav.navbar.navbar-expand-lg.navbar-light {
  padding: 1em;
}

li.nav-item {
  margin: 0 6px;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0;
  color: #fff;
  font-size: 14px;
  margin: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: ease-in-out 0.5s;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #ffd800;
}

/* //navigation */
/* //header */
/* banner */
.mian-content {
  background: linear-gradient(to top, #ff8a00, #da1b60);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  min-height: 50vw;
  position: relative;
  background: #233442;
  overflow: hidden;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;
}

.banner-outer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #233442;
  opacity: 0.9;
}

/* //particles */
/* banner text effect */
.effect-text-raols {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.effect-text-raols span {
  display: block;
}

.mytext1 {
  color: #fff;
  font-size: 54px;
  font-weight: 800;
  letter-spacing: 2px;
  position: relative;
  animation: text 3s 1;
  line-height: 1;
  text-transform: uppercase;
  /* text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.44); */
}

.mytext2 {
  font-size: 54px;
  color: #ffd800;
  letter-spacing: 1px;
  font-weight: 800;
}

@keyframes text {
  0% {
    color: #fff;
  }

  30% {
    letter-spacing: 25px;
  }

  85% {
    letter-spacing: 8px;
  }
}

/* //banner text effect */
/* animation effect text */
.effect-text-raols h2 {
  color: #fff;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 1px;
  width: 100%;
  animation: animtext 10s steps(80, end);
  transition: all cubic-bezier(0.1, 0.7, 1, 0.1);
  text-transform: uppercase;
}

@keyframes animtext {
  from {
    width: 0;
    transition: all 2s ease-in-out;
  }
}

/* //animation effect text */
p.para-style {
  font-size: 18px;
  max-width: 700px;
  text-transform: uppercase;
}

/* button effect */
.button-raols {
  margin-top: 3em;
}

a.animated-button {
  color: #fff;
  cursor: pointer;
  padding: 12px 0;
  letter-spacing: 2px;
  outline: none;
  width: 170px;
  background: #fff;
  color: #000;
  font-size: 17px;
  border-radius: 100px;
  outline: none;
  display: inline-block;
  box-shadow: 2px 5px 7px 1px rgba(0, 0, 0, 0.18);
  position: relative;
  border: none;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.animated-button:hover {
  background-color: transparent;
  /* text-shadow: nthree; */
  color: #fff !important;
}

a.animated-button::before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  border-radius: 100px;
  content: "";
  background: #ff3f4d;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

/* thar four */
a.animated-button.thar-four:hover:before {
  right: 0%;
  left: auto;
  width: 100%;
}

a.animated-button.thar-four:hover {
  background-color: #ffd800;
  /* text-shadow: nfour; */
}

a.animated-button.thar-four {
  background: linear-gradient(to top left, #ff8a00, #da1b60);
  color: #fff;
  background: #14b3fb;
  transition: ease-out 0.8s;
}

a.animated-button.thar-four:before {
  background: #343a40;
}
a.animated-button.thar-four.two-buttons:hover {
  background: #1ccacd;
}
/* //banner */
/* banner bottom */
h3.title-wthree span {
  display: block;
  font-size: 16px;
  color: #1ccacd;
  letter-spacing: 1px;
}

/* //banner bottom */
/* services */
.why-choose-agile {
  /* background: linear-gradient(rgba(30, 46, 58, 0.9), rgba(30, 46, 58, 0.9)),
    url(/images/services.jpg); */
  background-color: #233442;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  min-height: 800px;
}

h3.title-wthree {
  font-size: 36px;
  text-transform: uppercase;
  color: #ffd800;
}

.wthree_features_grid.text-center {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  background: #fff;
}

.why-choose-agile,
.wthree_features_grid,
.wthree_features_grid i {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

.wthree_features_grid i {
  font-size: 30px;
  color: #ff3f4d;
  line-height: 1.4;
}

.agile-why-text h4 {
  letter-spacing: 1px;
  font-size: 24px;
  color: #ffd800;
  text-transform: uppercase;
}

.agile-why-text p,
p.sub-tittle {
  color: #eee;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.wthree_agile_us:hover .wthree_features_grid i {
  color: #000;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

/* //services */
/* skills */
/* chart */
#chartdiv {
  margin: -0.5em auto;
  text-align: center;
  width: 90%;
  height: 390px;
}

/* //chart */
.border-styles,
.title-edu {
  border-left: 3px solid #14b3fb;
}

p.counter {
  color: #ff3f4d;
  font-size: 3em;
  font-weight: 800;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.09);
}

/* //skills */
/*-- clients --*/
.rao_testimonials_grid h4 {
  font-size: 17px;
  line-height: 1.8;
  letter-spacing: 1px;
}

.rao_testimonials_grid h5 {
  color: #000;
  font-size: 22px;
  letter-spacing: 1px;
}

.rao_testimonials_grid p {
  font-size: 14px;
}

.rao_testimonials_grid h4 i {
  font-size: 20px;
}

/*-- //clients --*/
/* facts */
.mobile-trend-agile {
  background: url(../images/bg8.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  min-height: 800px;
}

/* //facts */
/* projects */
.da-thumbs {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.da-thumbs li {
  padding: 3px;
  position: relative;
  width: 33%;
  text-align: center;
  display: inline-block;
}

.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative;
  width: 100%;
}

.da-thumbs li a {
  overflow: hidden;
}

.da-thumbs li a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.da-thumbs li a:hover img {
  opacity: 0.5;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.da-thumbs li a div h5 {
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 15px 0 5px;
}

.da-thumbs li a div p {
  margin-bottom: 1em;
}

/* //projects */
/* footer */
.raol-footer-logo a {
  color: #1ccacd;
}

/* copyright */
p.copy-right-grids {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 42px;
  font-family: "Roboto", sans-serif;
}

p.copy-right-grids a {
  color: #ff3f4d;
}

/* //copyright */
/* social-icons */
.raosocial-icons ul li {
  display: inline-block;
}

.raosocial-icons ul li a {
  color: #fff;
  font-size: 16px;
  display: block;
  -webkit-box-shadow: 0px 0px 1px 0px #fff;
  -moz-box-shadow: 0px 0px 1px 0px #fff;
  box-shadow: 0px 0px 1px 0px rgba(19, 18, 18, 0.33);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 2.5;
  background: #14b3fb;
}

.raosocial-icons ul li a:hover {
  color: #1ccacd;
  -webkit-box-shadow: 0px 0px 13px 2px #1ccacd;
  -moz-box-shadow: 0px 0px 13px 2px #1ccacd;
  box-shadow: 0px 0px 13px 2px #1ccacd;
}

/* //social-icons */
/* footer nav */
ul.footer-nav-wthree li {
  display: inline-block;
}

ul.footer-nav-wthree li a {
  color: #000;
  letter-spacing: 1px;
  font-size: 18px;
}

/* //footer nav */
/* education */
.info-raolayouts {
  /* background: linear-gradient(to top left, #ff8a00, #da1b60); */
  background: linear-gradient(rgba(30, 46, 58, 0.9), rgba(30, 46, 58, 0.9)),
    url(/images/exprience.jpg);
  background-size: cover;
  background-position: top;
}

.raol-overlay {
  background: url(../images/overlay.png) repeat;
}

.title-edu i,
.rao_agileits_services_grid i {
  color: #ffd800;
  font-size: 2em;
}

.grid-flex {
  position: relative;
  z-index: 0;
}

/*.style-book-wthree {
    position: absolute;
    bottom: 30%;
    right: 15%;
    transform: rotate(-39deg);
    z-index: -1;
}

.style-book-wthree i {
    font-size: 8em;
    color: #eaeaea;
}*/

/* //education */
/* awards */
.awards-raols {
  background: url(../images/bg5.jpg) no-repeat bottom;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 50vw;
}

.rao_agileits_services_grid {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
}

/* //awards */
/* inner page */
/* contact */
.mian-content-2 {
  background: url(../images/1.jpg) no-repeat 0px -96px;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 340px;
}

h2.font-raols-style {
  padding-top: 0.2%;
  padding-left: 10em;
  font-family: "Pacifico", cursive;
  font-size: 44px;
  letter-spacing: 1px;
  transform: rotate(-24deg);
}

/* contact form */

.main_grid_contact label {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main_grid_contact input[type="text"],
.main_grid_contact input[type="email"],
.main_grid_contact textarea {
  outline: none;
  padding: 10px 5px;
  font-size: 14px;
  color: #1e2e3a;
  background: #fff;
  width: 100%;
  letter-spacing: 1px;
  border: 1px solid #ebeeef;
  border-radius: 0px;
  text-transform: uppercase;
}

.main_grid_contact textarea {
  min-height: 8em;
  resize: none;
}

.main_grid_contact .input-group1 input[type="submit"] {
  outline: none;
  padding: 12px 0;
  font-size: 17px;
  margin-top: 2em;
  border: none;
  cursor: pointer;
  color: #fff;
  background: #14b3fb;
  transition: ease-out 0.8s;
  border-radius: 40px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.main_grid_contact .input-group1 input[type="submit"]:hover {
  background: #ffd800;
}

/* //contact form */
/* map */
.map {
  padding: 0;
}

.map iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/* //map */
/* contact address */
.address-grid i {
  font-size: 1.5em;
  color: #fff;
  background: #14b3fb;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  line-height: 2.5em;
}

.address-right h6 {
  font-size: 1.2em;
  color: #3f4142;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.address-right p,
.address-right p a {
  color: #7c848c;
}

.main_grid_contact h4 {
  color: #fff;
  text-shadow: 0 1px 2px rgba(18, 18, 19, 0.13);
  text-transform: uppercase;
}

/* //contact address */
/* //contact */
/* //inner page */
/* responsive */
@media (max-width: 1680px) {
  h2.font-raols-style {
    padding-top: 3.2%;
  }
}

@media (max-width: 1600px) {
  h2.font-raols-style {
    padding-top: 4.2%;
  }
}

@media (max-width: 1440px) {
  .mytext1 {
    font-size: 60px;
  }

  .effect-text-raols h2 {
    font-size: 25px;
  }

  .mytext2 {
    font-size: 46px;
  }

  p.para-style {
    font-size: 17px;
  }

  .effect-text-raols {
    left: 50%;
  }

  a.animated-button {
    width: 150px;
  }

  h2.font-raols-style {
    padding-top: 5.2%;
    padding-left: 8em;
  }
}

@media (max-width: 1366px) {
  .mytext1 {
    font-size: 54px;
  }

  h2.font-raols-style {
    padding-top: 3.2%;
    padding-left: 7em;
    font-size: 40px;
  }

  .mian-content-2 {
    min-height: 310px;
  }
}

@media (max-width: 1080px) {
  nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 4em;
  }

  a.navbar-brand {
    font-size: 30px;
    letter-spacing: 0px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
  }

  .effect-text-raols h2 {
    font-size: 23px;
  }

  .mytext1 {
    font-size: 48px;
  }

  .mytext2 {
    font-size: 38px;
  }

  .mian-content {
    min-height: 56vw;
  }

  .effect-text-raols {
    top: 58%;
  }

  .services-agile-1 {
    padding-left: 0;
    padding-right: 0.5em;
  }

  .agile-why-text h4 {
    letter-spacing: 0px;
    font-size: 26px;
  }

  .wthree_features_grid i {
    line-height: 1;
  }

  .style-book-wthree i {
    font-size: 6em;
  }

  .rao_testimonials_grid h4 {
    font-size: 16px;
  }

  ul.footer-nav-wthree li a {
    font-size: 17px;
  }

  h2.font-raols-style {
    padding-top: 7.2%;
    padding-left: 6em;
    font-size: 36px;
  }

  .mian-content-2 {
    background-position: 0px -33px;
  }

  .main_grid_contact h4 {
    font-size: 1.8em;
  }
}

@media (max-width: 1050px) {
}

@media (max-width: 1024px) {
  nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 2em;
  }

  .mian-content {
    min-height: 60vw;
  }
}

@media (max-width: 991px) {
  div#navbarSupportedContent {
    background: #1e2e3a;
    padding: 1.5em;
  }

  li.nav-item {
    margin: 0;
  }

  .navbar-light .navbar-nav .nav-link {
    font-weight: normal;
    padding: 0;
  }

  .navbar-light .navbar-toggler {
    border-color: #fff;
    border-radius: 2px;
    background: transparent;
    color: #fff;
    padding: 8px 12px;
  }

  .effect-text-raols {
    top: 56%;
    left: 46%;
  }

  @keyframes text {
    0% {
      color: #fff;
    }

    30% {
      letter-spacing: 20px;
    }

    85% {
      letter-spacing: 8px;
    }
  }

  .wthree_features_grid i {
    line-height: 1.8;
  }

  .mobile-trend-agile {
    min-height: 690px;
  }

  .map iframe {
    height: 340px;
  }
}

@media (max-width: 900px) {
  h3.title-wthree {
    font-size: 32px;
  }

  h3.title-wthree span {
    font-size: 14px;
  }

  .mian-content-2 {
    min-height: 260px;
  }

  h2.font-raols-style {
    font-size: 31px;
  }
}

@media (max-width: 800px) {
  .mian-content {
    min-height: 66vw;
  }

  a.navbar-brand {
    font-size: 28px;
  }

  .effect-text-raols h2 {
    font-size: 21px;
  }

  .mytext1 {
    font-size: 44px;
  }

  .mytext2 {
    font-size: 36px;
  }

  p.para-style {
    font-size: 15px;
  }

  .effect-text-raols {
    top: 58%;
    left: 50%;
  }

  a.animated-button {
    width: 140px;
    font-size: 15px;
  }

  .button-raols {
    margin-top: 2em;
  }

  p {
    font-size: 15px;
  }

  .mobile-trend-agile {
    min-height: 580px;
  }

  h2.font-raols-style {
    padding-top: 10.2%;
  }

  .mian-content-2 {
    min-height: 230px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 736px) {
  .effect-text-raols h2 {
    font-size: 20px;
  }

  .mytext1 {
    font-size: 38px;
  }

  .mytext2 {
    font-size: 32px;
  }

  .effect-text-raols {
    top: 57%;
    left: 43%;
  }

  @keyframes text {
    0% {
      color: #fff;
    }

    30% {
      letter-spacing: 10px;
    }

    85% {
      letter-spacing: 6px;
    }
  }

  .wthree_features_grid i {
    line-height: 1;
    font-size: 28px;
  }

  .agile-why-text h4 {
    letter-spacing: 1px;
    font-size: 25px;
  }

  p.counter {
    font-size: 2.8em;
  }

  #chartdiv {
    height: 330px;
  }

  .da-thumbs li {
    width: 49.6%;
  }

  .da-thumbs li a div h5 {
    font-size: 19px;
  }

  p.copy-right-grids {
    font-size: 15px;
  }
}

@media (max-width: 667px) {
  h2.font-raols-style {
    padding-top: 12.2%;
    padding-left: 4em;
  }
}

@media (max-width: 640px) {
  .effect-text-raols {
    top: 57%;
    left: 46%;
  }

  #chartdiv {
    height: 290px;
  }

  h3.title-wthree {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .mian-content {
    min-height: 470px;
    background-position: right;
  }

  .effect-text-raols {
    left: 50%;
  }

  .mian-content-2 {
    background-position: 0px -1px;
  }

  h2.font-raols-style {
    padding-top: 13.2%;
    padding-left: 4em;
    font-size: 28px;
  }
}

@media (max-width: 568px) {
  .services-agile-1 {
    padding: 0 4em;
  }

  .wthree_features_grid i {
    line-height: 1.4;
  }

  p.counter {
    font-size: 2.5em;
  }

  .mobile-trend-agile {
    min-height: 488px;
  }

  h2.font-raols-style {
    padding-top: 13.2%;
    padding-left: 3em;
    font-size: 27px;
  }

  .mian-content-2 {
    min-height: 210px;
  }
}

@media (max-width: 480px) {
  a.navbar-brand {
    font-size: 28px;
  }

  button.navbar-toggler {
    padding: 2px 8px;
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0.5em 1em;
  }

  .effect-text-raols h2 {
    font-size: 18px;
  }

  .mytext1 {
    font-size: 34px;
  }

  .mytext2 {
    font-size: 28px;
  }

  p.para-style {
    font-size: 14px;
  }

  a.animated-button {
    width: 128px;
    font-size: 15px;
    padding: 11px 0;
    letter-spacing: 1px;
  }

  .mian-content {
    min-height: 408px;
  }

  .services-agile-1 {
    padding: 0 3em;
  }

  #chartdiv {
    height: 250px;
  }

  h2.font-raols-style {
    padding-top: 9.2%;
    padding-left: 0em;
    font-size: 26px;
  }

  .mian-content-2 {
    min-height: 190px;
  }
}

@media (max-width: 440px) {
  p.copy-right-grids {
    font-size: 14px;
  }

  ul.footer-nav-wthree li a {
    font-size: 16px;
  }

  .da-thumbs li {
    width: 100%;
  }

  p.counter {
    font-size: 2.3em;
  }

  h3.title-style {
    font-size: 25px;
  }

  .services-agile-1 {
    padding: 0 2em;
  }

  .mian-content {
    min-height: 430px;
  }

  @keyframes text {
    0% {
      color: #fff;
    }

    30% {
      letter-spacing: 8px;
    }

    85% {
      letter-spacing: 4px;
    }
  }

  h2.font-raols-style {
    padding-top: 11.2%;
    padding-left: 0em;
    font-size: 23px;
  }

  .map iframe {
    height: 300px;
  }

  .main_grid_contact label {
    font-size: 1em;
  }

  .main_grid_contact input[type="text"],
  .main_grid_contact input[type="email"],
  .main_grid_contact textarea {
    padding: 10px 5px;
  }

  .main_grid_contact .input-group1 input[type="submit"] {
    padding: 14px 0;
    font-size: 15px;
  }
}

@media (max-width: 414px) {
  .services-agile-1 {
    padding: 0 1em;
  }

  @keyframes text {
    0% {
      color: #fff;
    }

    30% {
      letter-spacing: 6px;
    }

    85% {
      letter-spacing: 4px;
    }
  }

  #chartdiv {
    height: 200px;
  }

  .grid-flex {
    padding: 0 !important;
  }

  .title-edu i,
  .rao_agileits_services_grid i {
    font-size: 1.5em;
  }

  .title-edu {
    margin-bottom: 2em !important;
  }

  .style-book-wthree i {
    font-size: 5em;
  }

  .rao_testimonials_grid h4 {
    font-size: 15px;
  }

  .mobile-trend-agile {
    min-height: 526px;
  }
}

@media (max-width: 384px) {
  .grids-agiles-one h5 {
    font-size: 19px;
  }

  .rao_testimonials_grid h5 {
    font-size: 19px;
  }

  h3.title-wthree {
    font-size: 26px;
  }

  @keyframes text {
    0% {
      color: #fff;
    }

    30% {
      letter-spacing: 4px;
    }

    85% {
      letter-spacing: 2px;
    }
  }

  .wthree_features_grid i {
    line-height: 1;
  }

  #chartdiv {
    height: 170px;
  }

  ul.footer-nav-wthree li {
    margin-right: 14px !important;
  }

  ul.footer-nav-wthree li a {
    font-size: 15px;
  }

  h2.font-raols-style {
    padding-top: 11.2%;
    padding-left: 0em;
    font-size: 21px;
  }

  .mian-content-2 {
    min-height: 166px;
  }
}

@media (max-width: 375px) {
  .grids-agiles-one h5 {
    font-size: 18px;
  }

  .rao_testimonials_grid h4 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  p.copy-right-grids {
    letter-spacing: 1px;
  }
}

@media (max-width: 320px) {
  a.navbar-brand {
    font-size: 26px;
  }

  button.navbar-toggler {
    padding: 1px 6px;
  }

  .effect-text-raols h2 {
    font-size: 16px;
  }

  .mytext1 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .mytext2 {
    font-size: 26px;
  }

  p.para-style {
    font-size: 13px;
    margin-top: 0.5em !important;
  }

  a.animated-button {
    width: 118px;
    font-size: 14px;
    padding: 10px 0;
  }

  .button-raols {
    margin-top: 1.2em;
  }

  .mian-content {
    min-height: 378px;
  }

  .agile-why-text h4 {
    letter-spacing: 1px;
    font-size: 22px;
  }

  .col-lg-3.col-sm-2.col-3.pr-lg-2 {
    padding: 0 0.5em;
  }

  p.counter {
    font-size: 2em;
  }

  .grids-agiles-one h5 {
    font-size: 16px;
  }

  .grid-flex {
    padding: 1.5em 1em !important;
  }

  .right-text-agiles {
    padding: 0;
  }

  h3.title-wthree {
    font-size: 24px;
  }

  .mobile-trend-agile {
    min-height: 460px;
  }

  .raosocial-icons ul li a {
    font-size: 15px;
    width: 35px;
    height: 35px;
  }

  @keyframes text {
    0% {
      color: #fff;
    }

    30% {
      letter-spacing: 2px;
    }

    85% {
      letter-spacing: 1px;
    }
  }

  .main_grid_contact textarea {
    min-height: 9em;
  }

  .main_grid_contact .input-group1 input[type="submit"] {
    padding: 12px 0;
  }

  .main_grid_contact h4 {
    font-size: 1.5em;
  }

  .address-grid i {
    font-size: 1.2em;
    width: 60px;
    height: 60px;
    line-height: 3.2em;
  }

  .address-left {
    padding: 0;
  }

  .mian-content-2 {
    min-height: 140px;
  }

  h2.font-raols-style {
    padding-top: 13%;
    padding-left: 0em;
    font-size: 16px;
  }
}

/* //responsive */

/*Own css for images*/
img.img-fluid {
  background: #30516c;
  padding: 3px;
  border-radius: 3px;
}

/* Custome Scroll */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* background: linear-gradient(to top left, #ff8a00, #da1b60); */
  background: #ffd800;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #1e2e3a;
  border-left: 1px solid #1e2e3a;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #14b3fb;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#contact {
  background-color: #17141d !important;
}

/* about me section */
.bottom-banner-raolayouts {
  background: #1e2e3a;
}

.bottom-banner-raolayouts p {
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.agileits-raolayouts-grid .services-agile-1 .wthree_agile_us {
  /* background: rgb(40, 66, 86) */
  background: linear-gradient(rgba(40, 66, 86, 0.9), rgb(35, 52, 66)),
    url(/images/services.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  height: 100%;
  min-height: 320px;
  margin: 0 -5px;
}

/* education */
.edu-agile-info {
  background: rgba(40, 66, 86, 0.2);
}

.aboutbtm-head {
  color: #ffd800;
  text-transform: uppercase;
}
.grids-agiles-one {
  text-transform: uppercase;
}

.grids-agiles-one p {
  font-family: "Roboto", sans-serif;
}

/* gallery */
.gallery {
  background: #1e2e3a;
}
.gallery .sub-tittle-2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

/* contact  */
.banner-bottom-raolayouts {
  background: linear-gradient(rgba(30, 46, 58, 0.9), rgba(30, 46, 58, 0.9)),
    url(/images/contact.jpg);
  background-size: cover;
  background-position: center;
}

.banner-bottom-raolayouts p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.banner-bottom-raolayouts p a {
  color: #fff;
}

.banner-bottom-raolayouts h6.ad-info {
  color: #fff;
}

.raols-footer-grids {
  background: #1e2e3a;
}

.graph {
  background: #1e2e3a;
}

.graph p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

/* // to-old */
/* #to-old {
  position: fixed;
  top: -40px;
  right: 0;
  background: #ffd800;
  z-index: 99999;
  padding: 10px;
  width: 100%;
  text-align: center;
  height: 40px;
  cursor: pointer;
  transition: top 0.5s linear;
} */

/* #post-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #ffd800;
  z-index: 99999;
  padding: 10px 20px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  color: #222;
  width: 100%;
  text-align: center;
} */

.pointer {
  cursor: pointer;
}

#visitor-count {
  transition: ease-in-out 0.7s;
}
#visitor-count.bottom-40 {
  bottom: -40px;
}
